.menuh{
  background-color: #05B8A4;
  color: black;
}

.navbar-brand{
  border-right: 2px solid black;
  padding-right:1%;
}

.navbar-light .navbar-nav .nav-link {color:black;
}


.formations{
cursor:pointer;}
.international{
cursor:pointer;}
.vie{
cursor:pointer;}
.entreprise{
cursor:pointer;}
.iut{
cursor:pointer;}
.profil{
cursor:pointer;}

.profil{margin-left:35%;}
.bloub{margin-left:40%;}
.ressort{border-width:3px;
  border-style:outset;
  border-radius:3%;}

input{border-width:3px;
border-style:inset;
border-radius:1%;}

html{
  overflow-x:hidden;
}

#header{
  background: url(Photos/banniere.jpg) no-repeat center center;
  background-size: cover;
  color: black;
  height: 70%;
  margin-top: 0%;
  margin-bottom:3%;
}


.wrapper{
  display: table;
  width: 100%;
  height: 100%;
}

.content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 10px 10px black;
  margin-top: 0%;
  margin-bottom: 10%;
}

.text{
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 250px;
  margin-right: 250px;
  padding-bottom: 5%;
  padding-top: 5%;
}

.subtitle{
  font-size: 23px;
}

.pull-right{
  float:none;
  background-color: rgba(4,72,130) ;
}


.btn1{
  margin-top: 2%;
  margin-bottom:0%;
  margin-right:33%;
  margin-left:15%;
}

.pull-right:hover{
  background-color:rgba(00, 172, 154, 0.6) ;
}

{//////////////////REGLAGES PHOTOS///////////////}

#uqac{
  padding-top:3%;padding-bottom:1%;
}

#bci{
  padding-top:9%;padding-bottom:1%;
}

#sligo{
  padding-top:1%;padding-bottom:1%;
}

#dundalk{
  padding-top:1%;padding-bottom:1%;
}

#olavide{
  padding-top:1%;padding-bottom:1%;
}

.navbar-header a{
  color: black;
}

.titre1{
  padding-left:15%;
  padding-right:15%;
}

.titre1 h1{
  background-color: rgba(00, 172, 154, 0.6);
  text-align:center;
  border-color:#059db8;
  border: solid 3px;
  padding: 7px;
  box-shadow: 6px 6px 0px black;
}

.titre2 h2{
  margin-top:3%;
  text-align:center;
  border-color:#059db8;
  padding: 7px;
  font-style:italic;
  }

.borderp{
  border-bottom:1rem double;
  margin-bottom:12%;
  padding-left:12%;
  padding-right:12%;
  padding-bottom:3%;
  text-align:center;
}
.borderpno{
  text-align:center;
  padding-bottom:0px;
  padding-left:12%;
  padding-right:12%;
}

.borderyes{
    border-bottom:1rem double;
    padding-bottom:3%;
    padding-top:0;
    margin-bottom:12%;
    padding-left:12%;
    padding-right:12%;
}
.titre2{
  padding-left:15%;
  padding-right:15%;
}

.titre3 li{
  margin-top:2%;
  border-color:#059db8;
  font-size:20px;
}

.titre3 ul{
  padding-left:16%;
  padding-right:16%;
}


.paddingab{
  font-size:16px;
  padding-left:15%;
  padding-right:14%;
}

.paddingabc{
  font-size:18px;
  padding-left:16%;
}

.marginlink{
  padding-bottom:2%;
}

.text h1{
  font-size:60px;
}

.subtitle{
  font-style:italic;
}

.left{
  border-left: 1rem solid black;
  border-radius:5px;
}

.topnav {
  width: 100%;
  margin-bottom: 5%;
}

@media screen and (max-width: 763px) {
  .text{margin-right:100px; margin-left:100px;}
  .left{margin-left: 10px;}
  .left h2{font-size:23px;}
  .borderp{padding-left:0px;padding-right:0px;line-height:17px;}
  .borderpno{padding-left:0px;padding-right:0px;line-height:17px;}
  .borderyes{padding-left:0px;padding-right:0px;padding-bottom:6%;line-height:17px;}
  .col-sm-6 img{padding-top:3%;width:100%;}
  .marginlink{margin-left:0px;font-size:15%;}
  .paddingab{padding:0;}
  .pull-right{margin-right:20%;margin-left:20%;}
  .text{margin: 0;background-color:inherit;}
  .text h1{font-size:18px;background-color: rgba(255, 255, 255, 0.5);margin-left:24%;margin-right:24%;margin-bottom:0px;}
  .subtitle{font-size:14px;background-color: rgba(255, 255, 255, 0.5);margin-left:26%;margin-right:26%;margin-bottom:0px;}
  .titre1{padding-left:4%;padding-right:5%;}
  .titre1 h1{font-size:19px;margin-top:7%;padding:4px;}
  .row-md-12{margin-right:0px;}
  .titre2{padding-left:7%;padding-right:7%;}
  .titre2 h2{font-size: 17px;}
  .antoinepic{left: 41%;}
  .loicpic{left:32%;}
  .thibautpic{left:47%;}
  fieldset{padding-bottom:6%;padding-top:6%;}
  .footer-copyright li{padding-left:8%;padding-right:8%;}
  .navbar-brand{padding-right:6%;padding-bottom:1%;}
  .paddingab{padding-left:5.3%;}
  .profil{margin-left:0%;}
  #btn1{margin-right:15%;margin-left:15%;}
  #uqac{display:none;}
  #bci{display:none;}
  #sligo{display:none;}
  #dundalk{display:none;}
  #olavide{display:none;}
  #larissa{display:none;}
  #varsovie{display:none;}
  #timisoara{display:none;}
  #cegep{display:none;}
  #kosen{display:none;}

}

@media screen and (min-width: 763px max-width: 1024px) {
  #uqac{padding-top:15%;padding-bottom:1%;}

  #bci{padding-top:37%;padding-bottom:1%;}

  #sligo{padding-top:5%;padding-bottom:1%;}

  #dundalk{padding-top:12%;padding-bottom:1%;}

  #olavide{padding-top:1%;padding-bottom:1%;}

  .row-md-12{margin-left:0%;margin-right:5%; }

  .titre2{padding-left:5%;padding-right:5%;}

  .titre2 h2{font-size: 13px;}

  .subtitle{font-size: 19px;}
}
@media screen and (max-width: 1366px) {

  #uqac{padding-top:10%;padding-bottom:1%;}

  #bci{padding-top:20%;padding-bottom:1%;}

  #sligo{padding-top:5%;padding-bottom:1%;}

  #dundalk{padding-top:7%;padding-bottom:1%;}

  #olavide{padding-top:5%;padding-bottom:1%;}

  #larissa,#varsovie,#timisoara,#cegep,#kosen{padding-top:5%;padding-bottom:1%;}

}

fieldset{
  padding-right: 20%;
  width: 100%;
  margin-left: 5px;
}
.write{
  padding-bottom: 30%;
  padding-right: 75%;
}

.thibautpic{
  height:80px;
  padding-left:27%;
  position: absolute;
}

.loicpic{
  height:80px;
  padding-left:42%;
  position:absolute;
}

.antoinepic{
  height:80px;
  padding-left:33%;
  position:absolute;
}


#myFooter {
	background-color: #044883;
	color:white;
  margin-top: 3%;
}

.ecole{margin-right:10%;}

#myFooter .footer-copyright {
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p {
	margin:10px;
	color: #ccc;
}

#myFooter ul {
	list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
	font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;
}

#myFooter .youtube:hover{
	color:red;
}

#myFooter .facebook:hover{
	color:#3b5998;
}

#myFooter .twitter:hover{
	color: #00aced;
}

#myFooter .linkedin:hover{
  color: #0e76a8;
}

.myCols ul li::before{content: "‣ ";}
.myCols ul li::before{color: white;}


@media screen and (max-width: 100%){
	#myFooter {
		text-align: center;
}

#myFooter{
	flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  margin:0;padding:0;
  }

.footer-copyright{
  position:absolute;bottom:0;
}

.entête{font-size:10px;}
